@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.active {
  border-bottom: 2px solid #fff;
}

.fancy {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

label {
  margin-bottom: 0.2rem;
}

.navbar-brand {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}

.logo {
  width: 20px;
  margin-right: 0.3rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .image {
    max-width: 375px;
    border-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .image {
    max-width: 575px;
  }
}

.form .label {
  color: #a5a5a5;
  font-weight: 600;
}

.price {
  width: 200px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.input {
  display: none;
}

.button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background: #9fa6b6;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
}

.button:hover,
.button:focus {
  background: #b4bac5;
}

.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a5adbc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  object-fit: cover;
}

.product-desc {
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-link:hover {
  color: #5ccacd;
  text-decoration: none;
}

.image {
  width: 100%;
  height: fit-content;
}
